{% if not is_empty %}
    package openvpn

    {% for vpn in openvpn %}
        config openvpn '{{ vpn.pop('name').replace('-', '_') }}'
            {% for key, value in vpn.items() %}
                {% set key = key.replace('-', '_') %}
                {% if value is not string and value is iterable %}
                    {% for element in value %}
                        list {{ key }} '{{ element }}'
                    {% endfor %}
                {% elif value not in ['', None] %}
                    option {{ key }} '{{ value }}'
                {% endif %}
            {% endfor %}

    {% endfor %}
{% endif %}
