{% if not is_empty %}
    package system

    {% if system %}
        config system 'system'
        {% for key, value in system.items() %}
            {% if value not in ['', None] %}
                option {{ key }} '{{ value }}'
            {% endif %}
        {% endfor %}

    {% endif %}
    {% if ntp %}
        config timeserver 'ntp'
        {% for key, value in ntp.items() %}
            {% if value not in ['', None] %}
                {% if value is not string and value is iterable %}
                    {% for list_value in value %}
                        list {{ key }} '{{ list_value }}'
                    {% endfor %}
                {% else %}
                    option {{ key }} '{{ value }}'
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endif %}
    {% for led in leds %}
        config led 'led_{{ led.name.lower() }}'
            {% for key, value in led.items() %}
                {% if value not in ['', None] %}
                    option {{ key }} '{{ value }}'
                {% endif %}
            {% endfor %}

    {% endfor %}
{% endif %}
