{% if not is_empty %}
    package wireless

    {% for radio in radios %}
        config wifi-device '{{ radio.pop('name') }}'
        {% for key, value in radio.items() %}
            {% if value not in ['', None] %}
                {% if value is not string and value is iterable %}
                    {% for list_value in value %}
                        list {{ key }} '{{ list_value }}'
                    {% endfor %}
                {% else %}
                    option {{ key }} '{{ value }}'
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endfor %}
    {% for wifi_interface in wifi_interfaces %}
        config wifi-iface '{{ wifi_interface.pop('id') }}'
        {% for key, value in wifi_interface.items() %}
            {% if value not in ['', None] %}
                {% if value is not string and value is iterable %}
                    {% for list_value in value %}
                        list {{ key }} '{{ list_value }}'
                    {% endfor %}
                {% else %}
                    option {{ key }} '{{ value }}'
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endfor %}
{% endif %}
