{% for namespace, block in data.items() %}
	{% if namespace != 'netmode' %}
		{% for element in block %}
			{% for k,v in element.items() %}
				{{ namespace }}.{{ k }}={{ v }}
			{% endfor %}
		{% endfor %}
	{% else %}
		netmode=bridge
	{% endif %}
{% endfor %}
