{% if not is_empty %}

	{% for i, entry in bridge %}
		bridge.{{ i + 1}}.comment=
		bridge.{{ i + 1}}.port.1.devname={{ entry.bridge_members[0] }}
		bridge.{{ i + 1}}.port.1.status=enabled
		bridge.{{ i + 1}}.port.2.devname={{ entry.bridge_members[1] }}
		bridge.{{ i + 1}}.port.2.status=enabled
		bridge.{{ i + 1}}.status=enabled
		bridge.{{ i + 1}}.stp.status={{ entry.stp | default("disabled") }}
	{% endfor %}

	bridge.status=enabled

{% endif %}
