{% if not is_empty %}
resolv.status=disable
resolv.nameserver.status=enabled
{% for i, entry in resolv.nameserver %}
resolv.nameserver.{{ i + 1 }}.status=enabled
resolv.nameserver.{{ i + 1}}.ip={{ entry }}
{% endfor %}

system.timezone={{ system.timezone }}
system.longitude={{ system.longitude }}
system.latitude={{ system.latitude }}
system.date.timestamp={{ system.timestamp }}
system.button.reset={{ system.reset }}

{% endif %}
