{% for i, j  in data.items() %}
    {% if i|string() == 'general' %}
        {% for general in j %}
            {% if general.get('timezone') %}
                run commands:
                $ timedatectl set-timezone {{ general.get('timezone') }}

            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor%}
