{% for i, j in data.items() %}
{% if i|string() == 'interfaces' %}
{% for interface in j %}
{% if interface.get('iftype') == 'wireless' %}
{% if interface.get('mode') == 'adhoc' %}
config: /etc/network/interfaces
auto {{ interface.get('iftype') }}
iface {{ interface.get('iftype') }} inet static
    address 172.128.1.1
    netmask 255.255.255.0
    wireless-channel 1
    wireless-essid {{ interface.get('essid') }}
    wireless-mode ad-hoc
{% endif %}
{% elif interface.get('iftype') in ['ethernet', 'bridge', 'loopback'] %}
config: /etc/network/interfaces
auto {{ interface.get('ifname') }}
{% if interface.get('address') != None %}
{% for address in interface.get('address') %}
{% if address.get('proto') == 'static' %}
{% if address.get('family') == 'ipv4' %}
iface {{ interface.get('ifname') }} inet {{ address.get('proto') }}
    address {{ address.get('address') }}
    netmask {{ address.get('netmask') }}
{% if address.get('gateway', None) != None %}
    gateway {{ address.get('gateway')}}
{% endif %}
{% if interface.get('mtu', None) != None %}
    mtu {{ interface.get('mtu') }}
{% endif %}
{% if interface.get('mac', None) != None %}
    hwaddress {{ interface.get('mac') }}
{% endif %}
{% if interface.get('iftype') == 'bridge' %}
    bridge_ports {{ interface.get('bridge_members')[0] }} {{ interface.get('bridge_members')[1] }}
{% endif %}
{% elif address.get('family') == 'ipv6' %}
iface {{ interface.get('ifname') }} inet6 {{ address.get('proto') }}
    address {{ address.get('address') }}
    netmask {{ address.get('netmask') }}
{% if address.get('gateway', None) != None %}
    gateway {{ address.get('ipv6gateway') }}
{% endif %}
{% if interface.get('mtu', None) != None %}
    mtu {{ interface.get('mtu') }}
{% endif %}
{% if interface.get('mac', None) != None %}
    hwaddress {{ interface.get('mac') }}
{% endif %}
{% if interface.get('iftype') == 'bridge' %}
    bridge_ports {{ interface.get('bridge_members')[0] }} {{ interface.get('bridge_members')[1] }}
{% endif %}
{% endif %}
{% elif address.get('proto') == 'dhcp' %}
{% if address.get('family') == 'ipv4'%}
iface {{ interface.get('ifname') }} inet {{ address.get('proto') }}
{% if interface.get('mtu', None) != None %}
    pre-up /sbin/ifconfig $IFACE mtu {{ interface.get('mtu') }}
{% endif %}
{% if interface.get('mac', None) != None %}
    hwaddress {{ interface.get('mac') }}
{% endif %}
{% elif address.get('family') == 'ipv6' %}
iface {{ interface.get('ifname') }} inet6 {{ address.get('proto') }}
{% if interface.get('mtu', None) != None %}
    pre-up /sbin/ifconfig $IFACE mtu {{ interface.get('mtu') }}
{% endif %}
{% if interface.get('mac', None) != None %}
    hwaddress {{ interface.get('mac') }}
{% endif %}
{% endif %}
{% endif%}
{% endfor %}
{% else %}
{% if interface.get('iftype') == 'bridge' %}
    bridge_ports {{ interface.get('bridge_members')[0] }} {{ interface.get('bridge_members')[1] }}
{% endif %}
{% endif %}
{% endif %}

{% endfor %}
{% endif %}
{% endfor%}
