{% for i, j in data.items() %}
{% if i|string() == 'interfaces' %}
/etc/network/interfaces
-----------------------
{% for interface in j %}
auto {{ interface.get('ifname') }}
{% if interface.get('address') != None %}
{% for address in interface.get('address') %}
{% if address.get('proto') == 'static' %}
{% if address.get('family') == 'ipv4' %}
iface {{ interface.get('ifname') }} inet {{ address.get('proto') }}
    address {{ address.get('ipv4address') }}
    netmask {{ address.get('ipv4netmask') }}
{% if address.get('gateway', None) != None %}
    gateway {{ address.get('ipv4gateway')}}
{% endif %}
{% if interface.get('iftype') == 'bridge' %}
    bridge_ports {{ interface.get('bridge_members')[0] }} {{ interface.get('bridge_members')[1] }}
{% endif %}
{% elif address.get('family') == 'ipv6' %}
iface {{ interface.get('ifname') }} inet6 {{ address.get('proto') }}
    address {{ address.get('ipv6address') }}
    netmask {{ address.get('ipv6netmask') }}
{% if address.get('gateway', None) != None %}
    gateway {{ address.get('ipv6gateway') }}
{% endif %}
{% if interface.get('iftype') == 'bridge' %}
    bridge_ports {{ interface.get('bridge_members')[0] }} {{ interface.get('bridge_members')[1] }}
{% endif %}
{% endif %}
{% elif address.get('proto') == 'dhcp' %}
{% if address.get('family') == 'ipv4'%}
iface {{ interface.get('ifname') }} inet {{ address.get('proto') }}
{% elif address.get('family') == 'ipv6' %}
iface {{ interface.get('ifname') }} inet6 {{ address.get('proto') }}
{% endif %}
{% endif%}
{% endfor %}
{% else %}
{% if interface.get('iftype') == 'bridge' %}
    bridge_ports {{ interface.get('bridge_members')[0] }} {{ interface.get('bridge_members')[1] }}
{% endif %}
{% endif %}

{% endfor %}
{% elif i|string() == 'dns_servers' %}
/etc/resolv.conf
----------------
{% for ip in j %}
nameserver {{ ip }}
{% endfor %}
{% elif i|string() == 'dns_search' %}
{% for domain in j %}
search {{ domain }}
{% endfor %}
{% else %}
{% endif %}
{% endfor%}
