{% set count = [1] %}
{% for i, j in data.items() %}
{% if i|string() in ['dns_servers', 'dns_search'] %}
{% if count == [1] %}
config: /etc/resolv.conf
{% if count.append(count.pop() + 1) %}{% endif %}
{% endif %}
{% endif %}
{% if i|string() == 'dns_servers' %}
{% for ip in j %}
nameserver {{ ip }}
{% endfor %}
{% elif i|string() == 'dns_search' %}
{% for domain in j %}
search {{ domain }}
{% endfor %}
{% endif %}
{% endfor%}
