{% if data.wireless and data.wireless[0].mode == 'station' %}
    {% for wireless in data.wireless %}
        # config: /etc/wpa_supplicant/wpa_supplicant.conf

        network={
                ssid="{{ wireless.ssid }}"
                {% if 'wpa' in wireless.encryption %}
                key="{{ wireless.encryption.wpa_passphrase }}"
                {% if wireless.encryption.wpa_key_mgmt %}
                key_mgmt={{ wireless.encryption.wpa_key_mgmt }}
                {% endif  %}
                {% else %}
                key_mgmt=NONE
                {% endif %}
                {% if 'wep' in wireless.encryption %}
                {# WEP Config Here#}
                {% endif %}
        }

    {% endfor %}
{% endif %}
